@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body {
    background: #1a1d20;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
}
header a,
footer .all {
    font-size: 2em;
    pointer-events: none;
    text-transform: uppercase;
    text-decoration: none;
}
header a {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    color: #1a1d20;
}

footer .all {
    -webkit-text-stroke-color: #1a1d20;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}
.wrapper {
    margin: 1em 1em 5em;
}

h1 {
    font-size: 2rem;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
    text-align: center;
}

main {
    margin-top: 4em;
}

h1 {
    font-family: "Merriweather", serif;
}

label {
    margin-top: 1em;
    margin-bottom: 0.4em;
    display: block;
    font-weight: bold;
}

.col2 {
    display: flex;
}

.hero {
    display: grid;
    place-items: center;
    span {
        background: linear-gradient(90deg, #c9729a 5%, #923adb 70%, #c9729a 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        color: rgba(0, 0, 0, 0);
        animation: rainbow 4s ease alternate-reverse infinite;
    }
    @keyframes rainbow {
        0% {
            background-position: left;
        }
        50% {
            background-position: right;
        }
        100% {
            background-position: left;
        }
    }
}

.form {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    margin: 0 auto;
}

input[type="text"],
input[type="submit"] {
    padding: 1.2em;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.2em;
    border: none;
}

input[type="submit"] {
    width: 10em;
    background: #923adb;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background: #7f2fc0;
    }
}

.card {
    transform: translateY(100px) scaleY(1);
    transform-origin: 0% 100%;
    padding-left: 1em;
    border-left: 1px solid #4e5862;
    position: relative;
    height: 8em;

    &:before {
        position: absolute;
        content: "";
        border-radius: 100%;
        border: 0.5em solid #1a1d20;
        background: #ba62ad;
        width: 0.5em;
        height: 0.5em;
        top: 0;
        left: -0.8em;
        opacity: 1;
    }

    &:hover:before {
        width: 0.8em;
        height: 0.8em;
        left: -0.95em;
        top: -0.15em;
    }

    .title {
        font-weight: bold;
        opacity: 0;
        transform: translateY(100px);
    }

    .desc {
        color: #697887;
        opacity: 0;
        transform: translateY(100px);
    }
}
.feedback {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
    .send {
        display: flex;
        gap: 1em;
    }
}
.review {
    height: 6em;
}
footer {
    opacity: 0;
    background: linear-gradient(90.73deg, #c9729a 4%, #923adb 97.46%);
    padding: 2em 1em;
    color: #1a1a1a;
    font-weight: bold;
    margin-top: 11em !important;

    .all {
        margin: 0.3em 0 0 0.5em;
        font-size: 2rem;
    }

    .parent {
        display: block;
    }

    .social {
        margin-top: 2em;
        flex-wrap: wrap;
    }

    a {
        color: #1a1d20;
        text-decoration: none;
        margin: auto;
    }
    i {
        padding: 0.5em;
        border: 2px solid #1a1d20;
        border-radius: 50%;
        margin: auto;
    }
    #icon-1 {
        border: 0px;
        cursor: context-menu;
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        margin: 3em;
    }

    h1 {
        font-size: 2.5em;
        letter-spacing: 3px;
    }
}

@media only screen and (min-width: 750px) {
    .features {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 2em;

        .card {
            margin-bottom: 2em;
            height: auto;

            .title {
                margin-top: 0;
            }
        }
    }

    footer {
        padding: 3em;
    }
}
@media only screen and (max-width: 400px) {
    footer p.learn {
        width: 18ch;
    }
}
@media only screen and (max-width: 1200px) {
    .form {
        display: grid;
        place-items: center;
    }
    p.all {
        margin-left: 0;
        text-align: center;
    }
    .parent {
        display: grid;
        place-items: center;
    }
    .social {
        width: max-content;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 900px) {
    .form {
        width: 75%;
    }
}

@media only screen and (min-width: 1200px) {
    .hero {
        display: flex;
        justify-content: space-between;
        margin: 8em 0 0 0;

        h1 {
            width: 40%;
            margin-bottom: 0;
            text-align: left;
        }

        .form {
            width: 50%;
            align-self: flex-end;
            padding-bottom: 1em;
            margin: unset;
        }
    }
    .features {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
    }
    .wrapper,
    .features {
        margin-bottom: 0;
    }
    footer {
        margin: 0;
        padding: 4em;
        .parent {
            max-width: 1150px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        .social {
            margin: 0;
        }

        .learn,
        .skillform {
            margin: 1em 0em;
        }
    }
    .features .card {
        margin-bottom: 0;
        height: 15rem;
    }
    .wrapper {
        width: 1150px;
        margin: 3em auto 0;
    }
}
