.card {
  width: 190px;
  height: 380px;
  h1,
  h2,
  h3,
  p {
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
  }
  cursor: pointer;
  .front {
    margin: 0;
    padding: 0;
    .thumbnail {
      height: 300px;
      width: 190px;
      border-radius: 1em;
      overflow: hidden;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: transform 300ms ease, opacity 200ms ease;
      }
    }
    .details {
      width: 20ch;
      margin: auto;
      & p {
        text-transform: none;
        color: rgb(187, 183, 183);
        font-size: 0.9rem !important;
      }
    }
    &:hover {
      img {
        transform: scale(1.1);
        opacity: 0.75;
      }
    }
  }
}
