.Error {
  height: 85vh;
  display: grid;
  place-items: center;
  .Error_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1 {
      font-size: 70px;
      height: 70px;
      color: var(--clr-shade3);
    }
  }
}
