@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruluko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Offside&display=swap");
:root {
  --clr-background: rgb(40, 44, 52);
  /* dark shades of primary color*/
  --clr-primary-1: rgb(6, 50, 81);
  --clr-primary-2: rgb(16, 78, 122);
  --clr-primary-3: rgb(26, 106, 162);
  --clr-primary-4: rgb(45, 135, 200);
  /* primary/main color */
  --clr-primary-5: rgb(73, 166, 233);
  /* lighter shades of primary color */
  --clr-primary-6: rgb(110, 190, 247);
  --clr-primary-7: rgb(139, 203, 249);
  --clr-primary-8: rgb(165, 213, 248);
  --clr-primary-9: rgb(197, 229, 252);
  --clr-primary-10: rgb(235, 247, 255);
  /* darkest grey - used for headings */
  --clr-grey-1: rgb(16, 42, 66);
  --clr-grey-2: rgb(36, 58, 82);
  --clr-grey-3: rgb(50, 77, 103);
  --clr-grey-4: rgb(72, 100, 127);
  /* grey used for paragraphs */
  --clr-grey-5: rgb(97, 125, 152);
  --clr-grey-6: rgb(130, 154, 176);
  --clr-grey-7: rgb(158, 178, 199);
  --clr-grey-8: rgb(188, 204, 220);
  --clr-grey-9: rgb(218, 226, 236);
  --clr-grey-10: rgb(241, 245, 248);
  --clr-white: #fff;
  --clr-red-dark: rgb(187, 37, 37);
  --clr-red-light: rgb(230, 107, 107);
  --clr-green-dark: rgb(37, 187, 50);
  --clr-green-light: rgb(107, 230, 117);
  --clr-black: rgb(0, 0, 0);
  --clr-shade1: rgb(202, 114, 155);
  --clr-shade2: #ad57bc;
  --clr-shade3: #c91dbd;
  --clr-shade4: #9239db;
  --clr-shade5: rgb(80, 100, 113);
  --clr-primary: rgb(219, 20, 60);
  --ff-roboto: "Roboto", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-hind: "Hind", sans-serif;
  --ff-nunito: "Nunito", sans-serif;
  --ff-julius: "Julius Sans One", sans-serif;
  --ff-merriweather: "Merriweather Sans", sans-serif;
  --ff-fira-sans: "Fira Sans", sans-serif;
  --ff-great-vibes: "Great Vibes", cursive;
  --ff-sacramento: "Sacramento", cursive;
  --ff-ruluko: "Ruluko", sans-serif;
  --ff-offside: "Offside", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.content {
  font-family: var(--ff-hind);
}
.content .content-home {
  position: relative;
  overflow: hidden;
  height: 85vh;
}
.content .content-home img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  animation: zoom_out 1600ms ease-in-out forwards;
}
@keyframes zoom_out {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.content .content-home .movie-details,
.content .content-home .a,
.content .content-home .b {
  position: absolute;
}
.content .content-home .movie-details {
  inset: 0 auto 0 0;
  width: max(40%, 25rem);
  z-index: 9999;
  height: fit-content;
  margin-block: auto;
  margin-left: 20px;
  animation: text_reveal 1000ms ease-in-out forwards;
  animation-delay: 800ms;
  opacity: 0;
}
.content .content-home .movie-details > * {
  color: white;
  margin-bottom: 10px;
  width: 100%;
}
.content .content-home .movie-details > p {
  text-align: justify;
}
.content .content-home .movie-details .movie-content {
  display: flex;
  gap: 15px;
  align-items: center;
}
.content .content-home .movie-details .movie-content span {
  width: 15px;
  height: 5px;
  background-color: white;
  border-radius: 100vw 100vw;
}
.content .content-home .movie-details .movie-content .genre {
  display: flex;
  gap: 15px;
}
@keyframes text_reveal {
  0% {
    transform: translateY(50px);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media (max-width: 650px) {
  .content .content-home .movie-details {
    width: 20rem;
  }
  .content .content-home .a {
    width: 100% !important;
    background: var(--clr-background) !important;
    mix-blend-mode: hard-light !important;
  }
}
.content .content-home .a {
  inset: 0 auto 0 0;
  width: max(70%, 15rem);
  background: linear-gradient(90deg, var(--clr-background), transparent);
}
.content .content-home .b {
  inset: auto 0 0 0;
  height: 250px;
  background: linear-gradient(0deg, var(--clr-background), transparent);
}
.content section .content-cast,
.content section .content-crew {
  padding: 1rem 2rem 0rem;
}
.content section .content-cast legend,
.content section .content-crew legend {
  color: var(--clr-shade3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  padding: 0.35rem 1.25rem;
}
.content section .content-cast fieldset,
.content section .content-crew fieldset {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  padding: 1rem 0;
}
.content section .content-cast .cast-lists,
.content section .content-crew .cast-lists {
  display: flex;
  gap: 40px;
  padding: 1rem 0;
  overflow-x: auto;
}
.content section .content-cast .cast-lists::-webkit-scrollbar,
.content section .content-crew .cast-lists::-webkit-scrollbar {
  height: 0px;
  overflow: hidden;
}
@media (min-width: 850px) {
  .content section .content-cast .cast-lists::-webkit-scrollbar,
  .content section .content-crew .cast-lists::-webkit-scrollbar {
    height: 10px;
    overflow: hidden;
  }
  .content section .content-cast .cast-lists::-webkit-scrollbar-track,
  .content section .content-crew .cast-lists::-webkit-scrollbar-track {
    background: transparent;
  }
  .content section .content-cast .cast-lists::-webkit-scrollbar-thumb,
  .content section .content-crew .cast-lists::-webkit-scrollbar-thumb {
    background-color: var(--clr-shade3);
    border-radius: 25px;
  }
  .content section .content-cast .cast-lists::-webkit-scrollbar-thumb:hover,
  .content section .content-crew .cast-lists::-webkit-scrollbar-thumb:hover {
    background: var(--clr-shade4);
  }
}
@media (max-width: 1000px) {
  .content section .content-cast .card-lists,
  .content section .content-crew .card-lists {
    padding: 0 1rem !important;
  }
}
@media only screen and (min-width: 1024px) {
  .content section .content-cast,
  .content section .content-crew {
    margin-inline: 10% !important;
  }
}
@media only screen and (min-width: 850px) {
  .content section .content-cast,
  .content section .content-crew {
    padding: 1rem 4rem 3rem 4rem !important;
  }
}
.content footer {
  border-top: 2px solid var(--clr-shade3);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  color: rgb(26, 26, 26);
  bottom: 0;
  height: 8em;
}
.content footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: inherit;
}
.content footer p {
  font-size: larger;
  color: var(--clr-shade3);
}
.content footer img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}/*# sourceMappingURL=content.css.map */